<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.dao.StudentDao1">
	
	<select id="select" resultType="com.situ.entity.Student" parameterType="java.lang.String">
		select student.*,batch.batchname from student inner join batch on batch.batchid=student.batchid ${_parameter}
	</select>
</mapper>